#map-container {
  height: 75vh;
}

.list-item {
  max-width: 250px;
}

h2 {
  margin-bottom: 30px;
  text-align: center;
}

#search {
  width: 350px;
  padding: 7px 5px;
}

.search-form {
  margin-left: -13px;
  text-align: center;
}
